<div class="container">
        <div class="col-12 col-md-auto">
            <h1>Dark Red Flash Cards</h1>
            <p>Best place for beginner or advanced level Information Technology job seekers to find IT interview questions</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>
    
     <div class="col-12 col-md-auto">
        <div class="jumbotron card">
            <h1>Flash Cards by concentration</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            <div id="control_btns">
			</div>
        </div>
    </div>
    