<div class="container">
        <div class="col-12 col-md-auto">
            <h1>Dark Red Flash Cards</h1>
            <p>Best place for beginner or advanced level Information Technology job seekers to find IT interview questions</p>
            <p><a class="btn btn-primary btn-lg"=>Software Development</a></p>
            <p><a class="btn btn-primary btn-lg">Database</a></p>
            <p><a class="btn btn-primary btn-lg">Networking</a></p>
        </div>
    </div>


    