
        <div class="jumbotron">
            <a class="navbar-brand nos" href="#"><div class="logo_style_blue">F</div></a>
            <a class="navbar-brand nos" href="#"><div class="logo_style_orange">2</div></a>
            <a class="navbar-brand nos" href="#"><div class="logo_style_green">L</div></a>
        </div>

