


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <button type="button" class="btn btn-sm pull-left">Previous Question</button>
    <button type="button" class="btn btn-danger btn-sm pull-right">LEARNING</button>
    &nbsp;
   <center><h2>How do you print in Java?</h2></center>
    
   
    
    <div class="col align-self-end abs">

  </div>
  <div class="space_lg">&nbsp;</div>
   <button type="button" class="btn btn-primary btn-lg btn-block">View Answer</button>
    </div>
</div>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <button type="button" class="btn btn-sm pull-right">New Question</button>
     &nbsp;
  <center><h3>System.out.print("Hello");</h3></center>
    
   
    
    <div class="col align-self-end abs">

  </div>
  &nbsp;
   <button type="button" class="btn btn-success btn-lg btn-block">I knew the answer.</button>
   <button type="button" class="btn btn-danger btn-lg btn-block">I did not know the answer</button>
    </div>
    
</div>



