
<h2>Answer</h2>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <button type="button" class="btn btn-sm pull-right">New Question</button>
     &nbsp;
  <center><h3><% @card.back %></h3></center>
    
   
    
    <div class="col align-self-end abs">

  </div>
  &nbsp;
   <button type="button" class="btn btn-success btn-lg btn-block">I knew the answer.</button>
   <button type="button" class="btn btn-danger btn-lg btn-block">I did not know the answer</button>
    </div>
    
</div>



