  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <%= button_to "Next Card",{ :class=>"btn btn-sm pull-left" }%>
      <button type="button" class="btn btn-sm pull-left">Previous Question</button>
      <button type="button" class="btn btn-danger btn-sm pull-right">LEARNING</button>
      &nbsp;
     <center><h2><%= @card.front %></h2></center>
      
     
      
      <div class="col align-self-end abs">
  
    </div>
    <div class="space_lg">&nbsp;</div>
      <%= button_to "View Answer", answer_path(@category,@card),{ method: :get,:class=>"btn btn-primary btn-lg btn-block" }%>
   
    </div>
  </div>
  
